nav.navigation
  button.navigation__container__btn menu
  .navigation__container
    .navigation__container__content

      .navigation__container__content__point
        p.navigation__title=nav.acf.menu_t_01
        p.navigation__copy!=nav.acf.menu_p_01

      .navigation__container__content__point
        p.navigation__title=nav.acf.menu_t_02
        p.navigation__copy!=nav.acf.menu_p_02

      .navigation__container__content__point
        p.navigation__title=nav.acf.menu_t_03
        p.navigation__copy!=nav.acf.menu_p_03

      .navigation__container__content__point
        a.navigation__title(href=nav.acf.menu_faq_button.url)=nav.acf.menu_faq_button.text

    .navigation__container__content
      p.navigation__pretitle=nav.acf.menu_final_t